*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.team .member{
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    background: #ffffff;
}
.team .member .teampic{
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
}
.team .member .member-info{
    padding-left: 15px;
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(163, 10, 143);
}
.team .member span{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member p{
    margin: 10px 0 0 0;
    font-size: 12px;
}
.team .member .social{
     margin-top: 10px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.team .member .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: hsl(293, 64%, 45%);
}
.team .member .social a i{
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social a:hover {
    background:rgb(255, 255, 255);
}
.team .member .social a:hover i {
    color: hsl(293, 64%, 45%);
}
.team .member .social a+a {
    margin-left: 8px;
}
section{
    padding: 60px 0;
    overflow: hidden;
}
.team .member .narracion p {
    display: flex;
    align-items: center;
    
}
/* SKILL css estilos*/

.team .row h3{
    font-size: 20px;
    margin-bottom:  15px;
    margin-left: 50px;
}

.team .skills-bar {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);;
    background-color: hsl(293, 64%, 45%);
    
}

.team .skills-dev  {
    margin-right: 100px;
    display:flex;
    margin: 10px;
    
}
.team .skills-dev h4{
    font-size: 14px;
    color: #ffffff;
}
.team .skills-dev li{
    margin-left: 50px;
    color: #fff;
}